body {
	overflow: hidden;
	background: #002d41;
}
ul {
	margin: 0;
	padding: 0;
}
.hardclip {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* header */
.headerlogo-wrapper {
	margin: 0 auto 0 auto;
	width: 236px;
	height: 80px;
}
.headerlogo {
	position: absolute;
	z-index: 100;
	top: 40px;
}

/* scroll track */
.track {
	width: 100%;
	height: 20px;
	overflow-x: scroll;
	position: absolute;
	bottom: 0;
}
.trackinner {
	width: 10000px;
	height: 20px;
}
.track-calc {
	width: 100%;
	height: 20px;
	overflow-x: scroll;
	position: absolute;
	bottom: 0;
}
.trackinner-calc {
	width: 10000px;
	height: 20px;
}

/* timeline */
.timeline {
	position: absolute;
	bottom: 40px;
	width: 100%;
	height: 56px;
}
.timeline-nav {
	background: url(../img/ui/timeline.png) top left no-repeat;
	width: 610px;
	height: 56px;
	margin: 0 auto;
	position: relative;
}
.timeline-phase {
	text-indent: 5000px;
	overflow: hidden;
	display: block;
	position: absolute;
	width: 28px;
	height: 28px;
	top: 2px;
}
.timeline-phase a {
	display: block;
	width: 28px;
	height: 28px;
}
.timeline-phase a:hover,
.timeline-phase.active a {
	background: url(../img/ui/timeline-active.png) center center no-repeat;
}
.nav-phase0 {
	left: 20px;
}
.nav-phase1 {
	left: 100px;
}
.nav-phase2 {
	left: 180px;
}
.nav-phase3 {
	left: 260px;
}
.nav-phase4 {
	left: 340px;
}
.nav-phase5 {
	left: 420px;
}
.nav-phase6 {
	left: 500px;
}
.nav-phase7 {
	left: 580px;
}

/* backgrounds */
.scaledbackground {
	position: absolute;
	bottom: 0;
	left: 0;
}

/* phases */
.phase {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.phase0 {
	background: #002d41;
}
.phase1 {
	background: #3d1a0e;
	opacity: 0;
	display: none;
}
.phase2 {
	background: #013b2b;
	opacity: 0;
	display: none;
}
.phase3 {
	background: #002d41;
	opacity: 0;
	display: none;
}
.phase4 {
	background: #3d1a0e;
	opacity: 0;
	display: none;
}
.phase5 {
	background: #013b2b;
	opacity: 0;
	display: none;
}
.phase6 {
	background: #002d41;
	opacity: 0;
	display: none;
}
.phase7 {
	background: #002d41;
	opacity: 0;
	display: none;
}
.phase-wrapper {
	margin: 0 auto;
	width: 940px;
	height: 768px;
	position: relative;
}
/* phase 0 */
.illustration {
	position: absolute;
	right: 40px;
	top: 230px;
}
.headerimg {
	position: absolute;
	left: 80px;
	top: 164px;
}
.phrasetext {
	position: absolute;
	top: 460px;
	left: 80px;
}
/* phase 1 */
.wrightcloud1 {
	position: absolute;
	left: 0;
	top: 200px;
}
.wrightcloud2 {
	position: absolute;
	right: 0;
	top: 60px;
}
.wrighttrees {
	position: absolute;
	right: 0;
	bottom: 284px;
}
.wrightbros {
	position: absolute;
	right: 80px;
	bottom: 140px;
}
.wrightplane {
	position: absolute;
	left: 32px;
	top: 312px;
}
.wrightheader {
	position: absolute;
	top: 164px;
	right: 115px;
}
/* phase 2 */
.douglascloud1 {
	position: absolute;
}
.douglascloud2 {
	position: absolute;
}
.douglastrees {
	position: absolute;
}
.douglasairport {
	position: absolute;
}
.douglasplane {
	position: absolute;
	left: 112px;
	top: 300px;
}
.douglasheader {
	position: absolute;
	top: 164px;
	left: 124px;
}
/* phase 3 */
.phase3 .stewardess {
	padding-bottom: 30px;
}
.cometheader {
	position: absolute;
	top: 164px;
	left: 328px;
}
.cometplane {
	position: absolute;
	top: 177px;
	left: 48px;
}
/* phase 4 */
.concordeplane {
	position: absolute;
	top: 190px;
	left: 15px;
}
.concordeheader {
	position: absolute;
	top: 413px;
	left: 300px;
}

/* phase 5 */
.boeingheader {
	position: absolute;
	top: 413px;
	left: 367px;
}
.boeingplane {
	position: absolute;
	top: 116px;
	left: 91px;
}

/* phase 6 */
.boeing2header {
	position: absolute;
	top: 163px;
	left: 124px;
}
.boeing2plane {
	position: absolute;
	top: 296px;
	left: 60px;
}

/* phase 7 */
.dreamlinerheader {
	position: absolute;
	top: 163px;
	left: 124px;
}
.dreamlinerplane {
	position: absolute;
	top: 163px;
	left: -80px;
}