@-webkit-keyframes bounce {
	from { -webkit-transform: scale(0.1);}
	82% { -webkit-transform: scale(0.9);}
	66% { -webkit-transform: scale(1.1);}
	to { -webkit-transform: scale(1);}
}
@-moz-keyframes bounce {
	from { -moz-transform: scale(0.1);}
	82% { -moz-transform: scale(0.9);}
	66% { -moz-transform: scale(1.1);}
	to { -moz-transform: scale(1);}
}
@-ms-keyframes bounce {
	from { -ms-transform: scale(0.1);}
	82% { -ms-transform: scale(0.9);}
	66% { -ms-transform: scale(1.1);}
	to { -ms-transform: scale(1);}
}
@-o-keyframes bounce {
	from { -o-transform: scale(0.1);}
	82% { -o-transform: scale(0.9);}
	66% { -o-transform: scale(1.1);}
	to { -o-transform: scale(1);}
}
@keyframes bounce {
	from { transform: scale(0.1);}
	82% { transform: scale(0.9);}
	66% { transform: scale(1.1);}
	to { transform: scale(1);}
}
@-webkit-keyframes pulse {
	from { -webkit-transform: scale(0.1); }
	60% { opacity: 0; }
	70% { opacity: 1; }
	to { -webkit-transform: scale(1); opacity: 0; }
}
@-moz-keyframes pulse {
	from { -moz-transform: scale(0.1); }
	60% { opacity: 0; }
	70% { opacity: 1; }
	to { -moz-transform: scale(1); opacity: 0; }
}
@-ms-keyframes pulse {
	from { -ms-transform: scale(0.1); }
	60% { opacity: 0; }
	70% { opacity: 1; }
	to { -ms-transform: scale(1); opacity: 0; }
}
@-o-keyframes pulse {
	from { -o-transform: scale(0.1); }
	60% { opacity: 0; }
	70% { opacity: 1; }
	to { -o-transform: scale(1); opacity: 0; }
}
@keyframes pulse {
	from { transform: scale(0.1); }
	60% { opacity: 0; }
	70% { opacity: 1; }
	to { transform: scale(1); opacity: 0; }
}
@-webkit-keyframes fadein { from { opacity: 0; } 14% { opacity: 1; } 28% { opacity: 0; } to { opacity: 0; }}
@-moz-keyframes fadein { from { opacity: 0; } 14% { opacity: 1; } 28% { opacity: 0; } to { opacity: 0; }}
@-ms-keyframes fadein { from { opacity: 0; } 14% { opacity: 1; } 28% { opacity: 0; } to { opacity: 0; }}
@-o-keyframes fadein { from { opacity: 0; } 14% { opacity: 1; } 28% { opacity: 0; } to { opacity: 0; }}
@keyframes fadein { from { opacity: 0; } 14% { opacity: 1; } 28% { opacity: 0; } to { opacity: 0; }}
@-webkit-keyframes fastfade { from { opacity: 0; } 25% { opacity: 1;} 50% { opacity: 0; } to { opacity: 0; }}
@-moz-keyframes fastfade { from { opacity: 0; } 25% { opacity: 1;} 50% { opacity: 0; } to { opacity: 0; }}
@-ms-keyframes fastfade { from { opacity: 0; } 25% { opacity: 1;} 50% { opacity: 0; } to { opacity: 0; }}
@-o-keyframes fastfade { from { opacity: 0; } 25% { opacity: 1;} 50% { opacity: 0; } to { opacity: 0; }}
@keyframes fastfade { from { opacity: 0; } 25% { opacity: 1;} 50% { opacity: 0; } to { opacity: 0; }}
body {
	overflow: hidden;
	background: #002d41;
}
ul {
	margin: 0;
	padding: 0;
}
.hardclip {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.animates {
	position: absolute;
}

@font-face {
  font-family: 'TUITypeLight';
  font-style: normal;
  font-weight: 400;
  src: local('TUITypeLight'), local('TUITypeLight'), url(fonts/webfont.tuitypelt.woff) format('woff');
}

/* header */
.headerlogo-wrapper {
	margin: 0 auto 0 auto;
	width: 236px;
	height: 80px;
}
.headerlogo {
	position: absolute;
	z-index: 5;
	top: 40px;
	cursor: pointer;
}

/* scroll track */
.track {
	width: 100%;
	height: 20px;
	overflow-x: scroll;
	position: absolute;
	bottom: 0;
}
.trackinner {
	width: 10000px;
	height: 20px;
}
.track-calc {
	width: 100%;
	height: 20px;
	overflow-x: scroll;
	position: absolute;
	bottom: 0;
}
.trackinner-calc {
	width: 10000px;
	height: 20px;
}

/* timeline */
.timeline {
	position: absolute;
	bottom: 30px;
	width: 100%;
	height: 56px;
}
.timeline-nav {
	background: url(../img/ui/timeline.png) top left no-repeat;
	width: 610px;
	height: 56px;
	margin: 0 auto;
	position: relative;
}
.timeline-phase {
	text-indent: 5000px;
	overflow: hidden;
	display: block;
	position: absolute;
	width: 28px;
	height: 28px;
	top: 2px;
}
.timeline-phase a {
	display: block;
	width: 28px;
	height: 28px;
}
.timeline-phase a:hover,
.timeline-phase a.active {
	background: url(../img/ui/timeline-active.png) center center no-repeat;
}
.nav-phase0 {
	left: 20px;
}
.nav-phase1 {
	left: 100px;
}
.nav-phase2 {
	left: 180px;
}
.nav-phase3 {
	left: 260px;
}
.nav-phase4 {
	left: 340px;
}
.nav-phase5 {
	left: 420px;
}
.nav-phase6 {
	left: 500px;
}
.nav-phase7 {
	left: 580px;
}

/* backgrounds */
.scaledbackground {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
}

/* phases */
.phase {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	opacity: 0;
	display: none;
}
.phase0 {
	background: #002d41;
	opacity: 1;
	display: block;
}
.phase1 {
	background: #3d1a0e;
}
.phase2 {
	background: #013b2b;
}
.phase3 {
	background: #002d41;
}
.phase4 {
	background: #3d1a0e;
}
.phase5 {
	background: #013b2b;
}
.phase6 {
	background: #002d41;
}
.phase7 {
	background: #002d41;
}
.phase7-mesh {
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background:url(../img/ui/bg/phase7mesh.png);
}
.phase-wrapper {
	margin: 0 auto;
	width: 940px;
	height: 768px;
	position: relative;
}
/* phase 0 */
.illustration {
	position: absolute;
	right: 40px;
	top: 230px;
}
.headerimg {
	position: absolute;
	left: 80px;
	top: 104px;
}
.phrasetext {
	position: absolute;
	top: 400px;
	left: 80px;
}
.touchanimation {
	position: absolute;
	top: 490px;
	left: 80px;
}
/* phases */
.phase3 .stewardess {
	padding-bottom: 30px;
}
/* horizon */
.horizon {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 356px;
	background: #b9a165;
	z-index: 0;
}
/* facts */
.phase-facts {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.factline {
	position: absolute;
	display: block;
	width: 51px;
	height: 161px;
	background: url(../img/ui/fact/factline.png) top center no-repeat;
}
.shortline {
	height: 50px;
}
@media screen and (max-height: 650px){
	.factline { height: 130px; }
	.shortline { height: 40px; }
}
@media screen and (max-height: 550px){
	.factline { height: 100px; }
	.shortline { height: 30px; }
}
@media screen and (max-height: 450px){
	.factline { height: 70px; }
	.shortline { height: 20px; }
}
@media screen and (max-height: 350px){
	.factline { height: 50px; }
	.shortline { height: 0px; }
}
.facticon {
	display: block;
	width: 48px;
	height: 48px;
	background: url(../img/ui/fact/tui_pulse.gif) top center no-repeat;
	margin-left: 1px;
	border: 1px solid #fff;
	border-radius: 24px;
	cursor: pointer;
}
.bg-green .facticon {
	background: url(../img/ui/fact/tui_pulse-green.gif) top center no-repeat;
}
.bg-red .facticon {
	background: url(../img/ui/fact/tui_pulse-red.gif) top center no-repeat;
}
.alignbottom {
	position: absolute;
	bottom: 0;
}
.shortline .alignbottom {
	bottom: -50px;
}
.ie-lt9 .facticon {
	border: 0;
}
.phase-facts {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.hide {
	opacity: 0;
	margin-top: 10px;
}
.show {
	opacity: 1;
	margin-top: 0;
}
.ie-lt9 .hide {
	margin-top: 0;
	display: none;
}
.ie-lt9 .show {
	display: block;
}
.facts {
	display: none;
}
.facts, .factbg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.factbg {
	background: #000;
	opacity: 0.3;
	z-index: 10;
}
.popup-fact {
	font-size: 16px;
	line-height: 18px;
	font-family: 'TUITypeLight';
}
.popup-fact small {
	font-size: 10px;
	display: block;
	line-height: 14px;
	position: absolute;
	bottom: -80px;
	white-space: nowrap;
	left: -408px;
	opacity: 0.4
}
.imagefact, .bubblefact {
	position: absolute;
	z-index: 20;
	color: #fff;
}
.bubblefact {
	height: 200px;
	width: 170px;
	padding: 50px 65px;
	background: url(../img/ui/fact/bubble1.png) top center no-repeat;
}
.fact-close {
	display: block;
	width: 55px;
	height: 55px;
	position: absolute;
	cursor: pointer;
	right: 13px;
	top: 19px;
}
.imagefact {
	width: 156px;
	height: 189px;
	padding: 100px 110px 90px 590px;
	border-radius: 210px;
	border: 4px solid white;
}
.ie-9 .imagefact .fact-close {
		background: url(../img/ui/fact/bubble1.png) -231px -18px no-repeat
}
.imagefact .fact-close {
	right: 39px;
	top: 58px;
}
.vertical-middle {
	display: table-cell;
	vertical-align: middle;
}
.popup-fact .vertical-middle {
	height: 200px;
	width: 180px;
	position: absolute;
}
.imagefact .vertical-middle {
	height: 180px;
}
#fact-dreamliner1 {
	background: url(../img/ui/imagepopup/1.png) top left no-repeat;
}
#fact-dreamliner1.imagefact .fact-close {
	right: 50px;
}
#fact-dreamliner2 {
	background: url(../img/ui/imagepopup/2.png) top left no-repeat;
}
#fact-dreamliner3 {
	background: url(../img/ui/imagepopup/3.png) top left no-repeat;
}
#fact-dreamliner4 {
	background: url(../img/ui/imagepopup/6.png) top left no-repeat;
}
#fact-dreamliner5 {
	background: url(../img/ui/imagepopup/12.png) top left no-repeat;
}
#fact-dreamliner6 ,
#fact-dreamliner7 {
	background: #000;
}
.two-col {
	position: absolute;
	width: 300px;
	top: 50px;
	font-size: 16px;
}
.two-col.first-col {
	left: 120px;
}
.two-col.last-col {
	right: 120px;
}
.find-out-more {
	display: block;
	background: url(../img/ui/fact/findoutmore.png) top left no-repeat;
	text-indent: -100%;
	width: 170px;
	height: 40px;
	position: absolute;
	top: 314px;
	left: 338px;
	overflow: hidden;
}
.youtube-frame {
	position: absolute;
	top: 36px;
	left: 100px;
	width: 660px;
	height: 305px;
}
@media screen and (max-width: 900px), (max-height: 500px){
	.imagefact {
		height: 200px;
		width: 170px;
		padding: 50px 65px;
		background: #000;
	}
	.imagefact .fact-close {
		right: 13px;
		top: 19px;
	}
	#fact-dreamliner1.imagefact, #fact-dreamliner2.imagefact, #fact-dreamliner3.imagefact {
		background: url(../img/ui/fact/bubble1.png) top center no-repeat;
	}
	#fact-dreamliner1,
	#fact-dreamliner2,
	#fact-dreamliner3,
	#fact-dreamliner4,
	#fact-dreamliner5,
	#fact-dreamliner6 {
		background: black;
	}
	.slideshow { display: none; }
}
/* fact icon overlays */
.factmask {
	margin-top: 12px;
	margin-left: 12px;
}
.mask-hat {
	margin-top: 18px;
	margin-left: 15px;
}
.mask-bomb {
	margin-top: 15px;
	margin-left: 17px;
}
.mask-i {
	margin-top: 14px;
	margin-left: 19px;
}
.mask-person {
	margin-top: 14px;
	margin-left: 17px;
}
.mask-star {
	margin-top: 14px;
	margin-left: 15px;
}
.mask-cocktail{
	margin-top: 14px;
	margin-left: 16px;
}
.mask-crown {
	margin-top: 14px;
	margin-left: 12px;
}
.mask-warning {
	margin-top: 11px;
	margin-left: 12px;
}
.mask-england {
	margin-top: 9px;
	margin-left: 11px;
}
.mask-transcontinental {
	margin-top: 9px;
	margin-left: 8px;
}
.mask-i-red {
	margin-top: 14px;
	margin-left: 19px;
}
.mask-i-green {
	margin-top: 14px;
	margin-left: 19px;
}
.mask-symbol {
	margin-top: 16px;
	margin-left: 13px;
}
.mask-plane {
	margin-top: 7px;
	margin-left: 8px;
}
.mask-osxwindow {
	margin-top: 14px;
	margin-left: 14px;
}
.mask-notes {
	margin-top: 15px;
	margin-left: 15px;
}
.mask-tulip {
	margin-top: 13px;
	margin-left: 18px;
}
.mask-iphone {
	margin-top: 13px;
	margin-left: 17px;
}
.mask-seating {
	margin-top: 12px;
	margin-left: 13px;
}
.mask-moon {
	margin-top: 10px;
	margin-left: 10px;
}
.mask-sunrise {
	margin-top: 15px;
	margin-left: 10px;
}
.mask-honeycomb {
	margin-top: 13px;
	margin-left: 12px;
}
.mask-plane2 {
	margin-top: 8px;
	margin-left: 9px;
}
.mask-plane-dreamliner {
	margin-left: 9px;
	margin-top: 13px;
}
.mask-i-lightblue {
	margin-left: 19px;
	margin-top: 14px;
}
/* social */
.social {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 70px;
}
@media screen and (max-width: 500px), (max-height: 400px){
	.social {
		left: -5px;
	}
	.stButton .stBubble {
		height: 24px !important;
		margin-top: 0 !important;
		margin-bottom: 0px !important;
	}
	.stButton .stBubble_count {
		padding-top: 4px !important;
	}
	.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
		margin-bottom: 2px !important;
	}
	.timeline {
		bottom: 20px;
	}
}
.pinterest-postcards {
	height:0px;
}
.css3 .pinterest-postcards {
	display: none;
}
/* content */
.phase-content {
	position: absolute;
	top: -2000px;
}
/* css3 progressive enhancements */
.css3 .facticon {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.css3 .factline:hover .alignbottom {
	bottom: 10px;
}
.css3 .shortline:hover .alignbottom {
	bottom: -40px;
}
.css3 .popup-fact {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.css3 .bubblefact {
	border-radius: 150px;
	background: #000;
}
.css3 .fact-close {
	background: #000;
	border-radius: 26px;
	background: #000 url(../img/ui/fact/close.png) 10px 8px no-repeat;
}
.css3 .popup-fact.shown , .css3 .popup-fact.shown .fact-close,
.pulser {
	-webkit-animation-duration: 0.3s;
	-webkit-animation-name: bounce;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-duration: 0.3s;
	-moz-animation-name: bounce;
	-moz-animation-timing-function: ease-in-out;
	-ms-animation-duration: 0.3s;
	-ms-animation-name: bounce;
	-ms-animation-timing-function: ease-in-out;
	-o-animation-duration: 0.3s;
	-o-animation-name: bounce;
	-o-animation-timing-function: ease-in-out;
	animation-duration: 0.3s;
	animation-name: bounce;
	animation-timing-function: ease-in-out;
}
.css3 .popup-fact.shown .fact-close {
	-webkit-animation-delay: 0.3s;
	-webkit-transform: scale(0.01);
	-webkit-animation-fill-mode: forwards;
	-moz-animation-delay: 0.3s;
	-moz-transform: scale(0.01);
	-moz-animation-fill-mode: forwards;
	-ms-animation-delay: 0.3s;
	-ms-transform: scale(0.01);
	-ms-animation-fill-mode: forwards;
	-o-animation-delay: 0.3s;
	-o-transform: scale(0.01);
	-o-animation-fill-mode: forwards;
	animation-delay: 0.3s;
	transform: scale(0.01);
	animation-fill-mode: forwards;
}
/* pulser */
.pulser, .pulse-inner {
	display: none;
}
.css3 .pulser {
	/* fallback *
	background-color: #2F2727;
	background-image: url(images/radial_bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	*/
	background: -webkit-radial-gradient(circle, transparent, #fff);
	background: -moz-radial-gradient(circle, transparent, #fff);
	background: -ms-radial-gradient(circle, transparent, #fff);
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	opacity: 0;
	margin: 0 0 1px 2px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	-webkit-animation-duration: 1.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-animation-duration: 1.3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-animation-duration: 1.3s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: ease-out;
	-o-transition: all 0.2s ease-in-out;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	transition: all 0.2s ease-in-out;

	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
}
.css3 .pulse-inner {
	display: block;
	background: #fff;
	width: 32px;
	height: 32px;
	border-radius: 18px;
	margin: 0 0px 9px 10px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.css3 .facticon {
	background: none;
}
/* slideshows */
.slideshow {
	position: absolute;
	top: 0;
	left: 0;
}
.slideshow-slide {
	position: absolute;
	top: 0;
	left: 0;
}
.css3 .cssfadein {
	opacity: 0;
	-webkit-animation-name: fastfade;
	-webkit-animation-duration: 8s;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: fastfade;
	-moz-animation-duration: 8s;
	-moz-animation-delay: 2s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: infinite;

	-o-animation-name: fastfade;
	-o-animation-duration: 8s;
	-o-animation-delay: 2s;
	-o-animation-fill-mode: forwards;
	-o-animation-iteration-count: infinite;

	animation-name: fastfade;
	animation-duration: 8s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.css3 .slide2 {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
.css3 .cssfadein.longslides {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 14s;
	-moz-animation-name: fadein;
	-moz-animation-duration: 14s;
	-o-animation-name: fadein;
	-o-animation-duration: 14s;
	animation-name: fadein;
	animation-duration: 14s;
}
.css3 .longslides .slide2 {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
.css3 .longslides .slide3 {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
}
.css3 .longslides .slide4 {
	-webkit-animation-delay: 8s;
	-moz-animation-delay: 8s;
	-o-animation-delay: 8s;
	animation-delay: 8s;
}
.css3 .longslides .slide5 {
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-o-animation-delay: 10s;
	animation-delay: 10s;
}
.log {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 500px;
	height: 500px;
	background: white;
	border: 1px solid red;
	color: black;
	overflow: scroll;
}